html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: url("CURORSmiley.svg.png"), auto;

    background-image: url("zen-stones-in-water-therapy-k3qkrnm5eiq3yq6r.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    font-family: "Museo Sans", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    color: #fabe63;
}

/* UI container */
.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    position: relative;
    z-index: 10;
}

/* Question text */
#overlay {
    font-size: clamp(3rem, 6vw, 6rem);
    margin-bottom: 40px;
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;


    animation: breathe 6s ease-in-out infinite;
}

/* Gentle breathing animation */
@keyframes breathe {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.9;
    }
}

/* Buttons row */
.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.startBtn {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
}

canvas {
    display: block;
}